# Vscode workplace settings

.vscode/

# Environment Variables

.env

# Python cache

__pycache__/

# Test notebook

pruebas-1.ipynb

# Vector store persistence files

db/

# Reports
Report_*.pdf

LFT.pdf